<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lpy.mapper.AccountMapper">



    <select id="findAllAccount" resultType="account">
        select * from account;
    </select>

    <select id="findAccountById" parameterType="int" resultType="account">
        select * from account where id = #{id}
    </select>

    <update id="updateAccount" parameterType="accountInfo">
        update account set money = money+#{money} where id = #{id}
    </update>
    <update id="updateAccount2" parameterType="accountInfo">
        update account set money = money-#{money} where id = #{id}
    </update>
</mapper>